/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.clear{
    clear: both;
}
body{
    background-image: url("https://wallpapercave.com/wp/nsFJoNv.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}